# Application settings
TITLE="Boilerplate API"
DESCRIPTION="Starter FastAPI application."
DEBUG=1
VERSION="0.0.1"
DOCS_URL="/api/schema/docs"
REDOC_URL="/api/schema/redoc"
OPENAPI_URL="/api/schema/openapi.json"
LOGGER_NAME="uvicorn.error"

# Uvicorn settings
UVICORN_HOST="0.0.0.0"
UVICORN_PORT=8000
UVICORN_LOG_CONFIG="logging.config.json"
UVICORN_LOG_LEVEL="warning"
UVICORN_LOOP="uvloop"
UVICORN_HTTP="httptools"
UVICORN_ACCESS_LOG=false
