# FastAPI settings
TITLE="Boilerplate API"
DESCRIPTION="Starter FastAPI application."
DEBUG=1
VERSION="0.0.1"
DOCS_URL="/api/schema/docs"
REDOC_URL="/api/schema/redoc"
OPENAPI_URL="/api/schema/openapi.json"

# Other settings
LOGGER_NAME="uvicorn.error"
